<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimoHub</title>
    <link rel="stylesheet" href="/views/styles/hubstyle.css">
</head>
<body>
    <nav>
        <button onclick="toggleSidebar()"><ion-icon name="reorder-three-outline"></ion-icon></button>
        <h1>AnimoHub</h1>
        <img src="/views/img/logo.png" alt="DLSU Logo" class="logo">
    </nav>
    <aside id="sidebar">
        <div class="profile">
            <img src="/views/img/defaultdp.png" alt="Profile Picture" class="profile-picture" id="profile-picture">
            <span class="username">Username</span>
        </div>
        <button class="sidebar-button" id="userProfileBtn">User Profile</button>
        <button class="sidebar-button" id="myReservationsBtn">My Reservations</button>
        <button class="sidebar-button" id="reserveComputerBtn" style="display: none;">Reserve a Computer</button>
        <button class="sidebar-button" id="reserveRoomBtn" style="display: none;">Reserve a Room</button>
        <button class="sidebar-button" id="addRoomBtn" style="display: none;">Add/Update Reservations</button>
        <button class="sidebar-button" id="approveAccBtn" style="display: none;">Approve Accounts</button>
        <button class="sidebar-button" id="logoutBtn" href="loginpage.html">Logout</button> 
    </aside>
    <main id="main-content">
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/controllers/hubscripts.js"></script>
</body>
</html> 